@media (max-width: 970px){
    .e-swiper {
        margin: 0 5px;
    }
}

@media (max-height: 693px){
    footer {
        position: static;
    }
}

@media (max-width: 700px){
    .phrase {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #show-phrase-button{
        display: flex;
    }
    
    .phrase .card{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        background: rgba(20, 20, 20, 0.4);
        z-index: 999;
    }

    .card.show{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card .container{
        padding: 20px;
        width: 315px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        position: relative;
    }

    #close-phrase-button{
        display: flex;
    }

    .phrase .card .circle{
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .phrase h6{
        margin-top: 14px;
        margin-left: 54px;
        margin-bottom: 20px;
    }

    .modal .container{
        padding: 30px;
        width: 315px;
    }

    input[type="text"], textarea{
        width: 255px;
    }

    textarea{
        min-height: 90px;
        min-width: 255px;
        max-height: 90px;
        max-width: 255px;
    }

    #new-task-button{
        width: 251px;
    }
}

@media (max-width: 700px){
    .swiper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .swiper .swiper-wrapper{
        display: flex;
        align-items: center;
    }

    .swiper-pagination{
        display: flex;
    }
    
    .swiper-wrapper{
        justify-content: center;
    }

    .kanban{
        max-width: 287px;
        margin-bottom: 14px;
        justify-content: none;
        overflow-x: hidden;
    }

    .kanban::-webkit-scrollbar-thumb{
        background: none;
    }

    .dark .kanban::-webkit-scrollbar-thumb{
        background: none;
    }

    .e-swiper{
        margin: 0;
    }
    #swiper-prev-button{
        display: none;
    }

    #swiper-next-button{
        display: none;
    }

    #mobile-prev-button{
        display: block;
    }

    #mobile-next-button{
        display: block;
    }
}

@media (max-width: 350px){
    .kanban{
        max-width: 260px;
    }
    .kanban .container{
        padding-left: 3px;
    }
    ul{
        width: 251px;
    }

    .card .container{
        width: 285px;
    }

}